<home>
  <div each="{ page in pages }">
    <a href="#!{page}">{page}</a>
  </div>
  <script>
    export default {
      pages: ['button', 'card', 'checkbox', 'footer', 'input', 'navbar', 'tabs'],
    };
  </script>
</home>
